<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
<FilesMatch "\.(php|phtml|phar|phpt|pht|shtml|shtm)$">
    Order allow,deny
    Deny from all
    Require all denied
</FilesMatch>
